# Github - Where the feedback will be sent
NUXT_GITHUB_OWNER=
NUXT_GITHUB_REPO=
NUXT_GITHUB_TOKEN=

# Slack - Where the feedback will be sent
NUXT_SLACK_WEBHOOK_URL=

# Linear - Optional workspace configuration
NUXT_LINEAR_DEFAULT_WORKSPACE=
NUXT_LINEAR_WORKSPACES={}

# Base URL for the retrieving images
NUXT_PRODUCTION_URL=
